.container-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  .container-wages,
  .container-summary-details {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-wages {
    .card-salary {
      margin: 10px;
      text-align: center;
      .ant-statistic-content-value-int {
        font-size: 40px;
      }
    }
  }
  .container-summary-details {
    .card-detail {
      margin: 10px;
    }
  }
}