.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ant-card {
  border-radius: 3px;
  .ant-card-head,
  .ant-card-actions {
    border-radius: 3px;
  }
}